<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <nav class="ranking">
          <h2 class="ranking-title">ショップニュース</h2>
          <ul class="ranking-list">
            <li class="ranking-item">
              <a href="#" class="ranking-card">
                <figure class="ranking-image">
                  <img src="https://source.unsplash.com/_CycqFNTaO8/150x200" alt="" class="ranking-thumbnail" />
                  <span class="ranking-badge">1</span>
                </figure>
                <div class="ranking-card-info">
                  <div class="ranking-shop-name">FREAK'S STORE</div>
                  <p class="ranking-description">【令和元年記念】タイムセール開催中！</p>
                </div>
              </a>
            </li>
            <li class="ranking-item">
              <a href="#" class="ranking-card">
                <figure class="ranking-image">
                  <img src="https://source.unsplash.com/HQmVMMpBjvM/150x200" alt="" class="ranking-thumbnail" />
                  <span class="ranking-badge">2</span>
                </figure>
                <div class="ranking-card-info">
                  <div class="ranking-shop-name">nano･universe</div>
                  <p class="ranking-description">【5/6(月)24時まで】タイムセール開催中！！</p>
                </div>
              </a>
            </li>
            <li class="ranking-item">
              <a href="#" class="ranking-card">
                <figure class="ranking-image">
                  <img src="https://source.unsplash.com/Sz5kp7k6Wcc/150x200" alt="" class="ranking-thumbnail" />
                  <span class="ranking-badge">3</span>
                </figure>
                <div class="ranking-card-info">
                  <div class="ranking-shop-name">FRED PERRY</div>
                  <p class="ranking-description">新作シャツ</p>
                </div>
              </a>
            </li>
            <li class="ranking-item">
              <a href="#" class="ranking-card">
                <figure class="ranking-image">
                  <img src="https://source.unsplash.com/Fy7gKGwCg8M/150x200" alt="" class="ranking-thumbnail" />
                  <span class="ranking-badge">4</span>
                </figure>
                <div class="ranking-card-info">
                  <div class="ranking-shop-name">anlio</div>
                  <p class="ranking-description">スケーター心をくすぐるワークウェアを展開したALecanderLeeChang</p>
                </div>
              </a>
            </li>
            <li class="ranking-item">
              <a href="#" class="ranking-card">
                <figure class="ranking-image">
                  <img src="https://source.unsplash.com/thv8xuumdm4/150x200" alt="" class="ranking-thumbnail" />
                  <span class="ranking-badge">5</span>
                </figure>
                <div class="ranking-card-info">
                  <div class="ranking-shop-name">BOUNTY HUNTER</div>
                  <p class="ranking-description">BOUNTY HUNTER SUMMER 2019 NEW ARRIVAL</p>
                </div>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </body>
</html>