<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="grid">
        <figure class="frame">
          <img class="cover" src="https://source.unsplash.com/19914UtDAn0" alt="" />
          <figcaption>縦長画像（ぴったり）</figcaption>
        </figure>
        <figure class="frame">
          <img class="contain" src="https://source.unsplash.com/19914UtDAn0" alt="" />
          <figcaption>縦長画像（ぜんぶ）</figcaption>
        </figure>
        <figure class="frame">
          <img src="https://source.unsplash.com/19914UtDAn0" alt="" />
          <figcaption>縦長画像（object-fit なし）</figcaption>
        </figure>
        <figure class="frame">
          <img class="cover" src="https://source.unsplash.com/o86AuYXPDB8" alt="" />
          <figcaption>横長画像（ぴったり）</figcaption>
        </figure>
        <figure class="frame">
          <img class="contain" src="https://source.unsplash.com/o86AuYXPDB8" alt="" />
          <figcaption>横長画像（ぜんぶ）</figcaption>
        </figure>
        <figure class="frame">
          <img src="https://source.unsplash.com/o86AuYXPDB8" alt="" />
          <figcaption>横長画像（object-fit なし）</figcaption>
        </figure>        
      </div>  
    </div>
  </body>
</html>