<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="chat">
        <ul class="talk-list">
          <li class="talk-item">
            <div class="talk">
              <figure class="avater">
                <img src="https://source.unsplash.com/VOQkzFIkF0Y" alt="" class="avatar-image"  />
              </figure>
              <p class="balloon">こんにちは</p>
            </div>
          </li>
          <li class="talk-item">
            <div class="talk you">
              <p class="balloon">
                CSS の object-fit プロパティは、置換要素、例えば &lt;img&gt; や &lt;video&gt; などの中身を、コンテナーにどのようにはめ込むかを設定します。
              </p>
              <figure class="avater">
                <img src="https://source.unsplash.com/sibVwORYqs0" alt="" class="avatar-image"  />
              </figure>
            </div>  
          </li>
          <li class="talk-item">
            <div class="talk you">
              <p class="balloon">
                要素のボックス内における置換要素の中身オブジェクトの配置を変更するには、object-position プロパティを使用することができます。
              </p>
              <figure class="avater">
                <img src="https://source.unsplash.com/sibVwORYqs0" alt="" class="avatar-image"  />
              </figure>
            </div>  
          </li>
          <li class="talk-item">
            <div class="talk">
              <figure class="avater">
                <img src="https://source.unsplash.com/VOQkzFIkF0Y" alt="" class="avatar-image"  />
              </figure>
              <p class="balloon"> 
                CSS の background-image プロパティは、要素に1つ以上の背景画像を設定します。
              </p>
            </div>
          </li>
          <li class="talk-item">
            <div class="talk">
              <figure class="avater">
                <img src="https://source.unsplash.com/WH9Jdtn8F1M" alt="" class="avatar-image"  />
              </figure>
              <p class="balloon"> 
                画像はお互いの上に積み重ねるコンテキストレイヤーに描画されます。
              </p>
            </div>
          </li>
          <li class="talk-item">
            <div class="talk you">
              <p class="balloon">
                最初に指定されたレイヤーが、ユーザーに対し最も手前にあるかのように描画されます。
              </p>
              <figure class="avater">
                <img src="https://source.unsplash.com/sibVwORYqs0" alt="" class="avatar-image"  />
              </figure>
            </div>  
          </li>
        </ul>
      </div>  
    </div>
  </body>
</html>