@charset 'utf8';

.header {
    background-color: #7effdb;
    padding: 1rem;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    min-width: 600px;
    width: 100%;
}    

.main {
    background-color: #b693fe;
    padding: 2rem 1rem;
    flex: 1 1 auto;
}

.aside {
    background-color: #8c82fc;
    padding: 2rem 1rem;
    width: 160px;
}

.footer {
    background-color: #ff9de2;
    padding: 1rem;
}