<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="container">
      <section>
        <h2>丸めなし</h2>
        <p class="text">こんにちは</p>
      </section>
      <section>
        <h2>丸めあり</h2>
          <p class="text text-ellipsisi">CSS は、ウェブページのスタイルとレイアウトに使用されます。</p>
          <p class="text text-ellipsisi">セレクターとプロパティ、CSS の記述ルール、CSS を HTML に適用する方法、CSS で長さや色やその他の単位を指定する方法、カスケードと継承、CSS のデバッグを含む動作の基本があります。</p>
      </section>
      <section>
        <h2>複数行丸め（Chromeのみ）</h2>
        <p class="text text-multiline-ellipsis">
          セレクターとプロパティ、CSS の記述ルール、CSS を HTML に適用する方法、CSS で長さや色やその他の単位を指定する方法、カスケードと継承、CSS のデバッグを含む動作の基本があります。
        </p>
      </section>
    </div>
  </body>
</html>