<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <main>
      <div class="container">
        <h2><code>display:block</code></h2>
        <div class="wrapper">
          <div class="box"></div>
        </div>
        <h2><code>display:inline</display:inline></code></h2>
        <div class="wrapper-center">
          <span>テキスト</span>
        </div>
        <h2><code>display:inline-block</code></h2>
        <div class="wrapper-center">
          <button>ボタン</button>
        </div>
      </div>
    </main>
  </body>
</html>