@charset 'utf8';

.container {
    padding: 2rem;
}

.row + .row {
    margin-top: 1rem;
}

.button {
    background-color: #fff;
    border: 1px solid #00bbf0;
    border-radius: 9999px;
    display: inline-block;
    height: 42px;
    position: relative;
    width: 42px;
}

/*----- 三角形ボタン -----*/
.button-triangle::before {
    /* 三角形 */
    content: "";
    border: 10px solid transparent;
    border-left-color: #00bbf0;
    display: inline-block;
     /* 円の真ん中に */
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translatey(-50%);
}

/*----- くの字 -----*/
.button-arrow::before {
    /* 三角形 */
    content: "";
    border-bottom: 2px solid #00bbf0;
    border-right: 2px solid #00bbf0;
    display: inline-block;
    height: 10px;
    width: 10px;
     /* 円の真ん中に */
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translatey(-50%) rotate(-45deg);
}

/*----- 文字入りリンクボタン -----*/
.button-link-arrow {
    border: 1px solid #00bbf0;
    border-radius: .25rem;
    color: #00bbf0;
    display: inline-block;
    padding: .75rem 2.5rem .75rem 1rem;
    position: relative;
    text-decoration: none;
}

.button-link-arrow::after {  
    /* 三角形 */ 
    border-bottom: 2px solid #00bbf0;
    border-right: 2px solid #00bbf0;
    display: inline-block;
    height: 0.5rem;
    width: 5.rem;
    /* 配置 */
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%) rotate(-45deg);
}

.button-link-arrow:hover {
    background-color: #00bbf0;
    color: #fff;
}    

.button-link-arrow:hover::after {
    background-color: #fff;
}   