@charset 'utf8';

* {
   box-sizing: border-box; 
}

.container {
    padding: 2rem;
}

.form-group + .form-group {
    margin-top: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: .5rem;
}

.form-control {
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    height: calc(1.5rem + 1rem +2px);
    line-height: 1.5;
    padding: .5rem .75rem;
    width: 100%;
}

.form-control:focus {
    outline: 0;
    background-color: #ca82f8; 
}

testarea.form-control {
    height: 6rem;
    resize: vertical;
}