@charset 'utf8';

html, body {
    height: 100%;
}

.main {
    color: #3a3a3a;
    min-width: 600px;
    padding: 1.5rem;
}

.title {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0 0 1.5rem 0;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 1rem;
    grid-row-gap: 2.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-list.top-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-bottom: 2.5rem;
}

.card {
    color: inherit;
    display: block;
    text-decoration: none;
}

.card:hover .card-thumbnail {
    opacity: 0.85;
}

.card-image {
    margin: 0;
    position: relative;
}

.card-thumbnail {
    width: 100%;
}

.card-badge {
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 9999px;
    color: #888;
    display: flex;
    font-size: 0.75rem;
    height: 1.5rem;
    line-height: 1;
    justify-content: center;
    left: .5rem;
    top: .5rem;
    width: 1.5rem;
}

.card-list.top-3 .card-list-item:nth-child(-n + 3) .card-badge {
    font-size: .85rem;
    height: 2rem;
    width: 2rem;
}

.card-list.top-3 .card-list-item:nth-child(1) .card-badge {
    background-color: #d9b340;
    border: 1px solid #d9b340;
    color: #fff;
}

.card-list-item:nth-child(2) .card-badge {
    background-color: #6f7b83;
    border: 1px solid #6f7b83;
    color: #fff;
}

.card-list-item:nth-child(3) .card-badge {
    background-color: #a15326;
    border: 1px solid #a15326;
    color: #fff;
}

.card {
    font-size: .85rem;
}

.card-brand {
    color: #888;
    margin: .25rem 0;
}

.card-price::before {
    content: "￥";
}

.card-praice::after {
    content: "税込";
    color: #888;
    margin-left: 0.25rem;
}
